.App {
  text-align: center;
}

.quantity_Plus{
  padding: 2px 6px;
  background-color: lightgray;
  cursor: pointer;;
  margin-top: 15px;
  border-radius: 0px 5px 5px 0px;
}
.quantity_input{
  width: 30px;
  padding-top: 5px;
  border: 2px solid;
  text-align: center;
}
.quantity_Minus{
  padding: 2px 5px;
  background-color: lightgray;
  cursor: pointer;;
  margin-top: 15px;
  border-radius: 5px 0px 0px 5px;
}
